/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: rgb(18, 18, 18)
}

/* Header */
header {
  padding: 15px;
  text-align: center;
  background: #fff;
  background-blend-mode: overlay;
  color: black;
}

header h3 {
  margin: 0;
}

/* Nav */
nav {
  padding: 5px;
  text-align: right;
}



/* Main content */
main {
  padding: 150px;
  text-align: center;
  color: rgb(18, 18, 18);
  background: rgba(252, 252, 252, 0.6);
}

/* Footer */
footer {
  vertical-align: bottom;
  padding: 10px;
  text-align: center;
  background: #2c2d2d;
  color: white;
}