<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Science Project</title>
    <link rel="stylesheet" href="../static/cover.css">
</head>
<body class="d-flex h-100 text-center text-white bg-dark image" style="width: 100%;">
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script> 
<div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto mb-0 w-h">
        <div>
            <h3 class="float-md-start mb-0">Genetic Disease in children</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/params">Parameters</a>
                <a class="nav-link" href="https://es.linkedin.com/in/cristina-rodilla-hernandez">Contact</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Prediction</h1>
        
        <form action="{{url_for('predict')}}" method="POST">
            <input type="text" name="Patient_Age" placeholder="Patient's age" required="required">
            <input type="text" name="Mother_inherit" placeholder="Mother_inherit" required="required">
            <input type="text" name="Father_inherit" placeholder="Father_inherit" required="required">
            <input type="text" name="Blood_cell_count" placeholder="Blood_cell_count" required="required">
            <input type="text" name="Mother_age" placeholder="Mother_age" required="required">
            <input type="text" name="Father_age" placeholder="Father_age" required="required">
            <input type="text" name="Status" placeholder="Status" required="required">
            <input type="text" name="Respiratory_rate" placeholder="Respiratory_rate" required="required">
            <input type="text" name="Heart_rate" placeholder="Heart_rate" required="required">
            <input type="text" name="Follow_up" placeholder="Follow_up" required="required">
            <input type="text" name="Gender" placeholder="Gender" required="required">
            <input type="text" name="Place_birth" placeholder="Place_birth" required="required">
            <input type="text" name="Folic_acid" placeholder="Folic_acid" required="required">
            <input type="text" name="Maternal_illness" placeholder="Maternal_illness" required="required">
            <input type="text" name="Assisted_conception" placeholder="Assisted_conception" required="required">
            <input type="text" name="History_previous_pregnancies" placeholder="History_previous_pregnancies" required="required">
            <input type="text" name="Number_abortions" placeholder="Number_abortions" required="required">
            <input type="text" name="Birth_defects" placeholder="Birth_defects" required="required">
            <input type="text" name="WBC_count" placeholder="WBC_count" required="required">
            <input type="text" name="Blood_test" placeholder="Blood_test" required="required">
            <input type="text" name="Symptom1" placeholder="Symptom1" required="required">
            <input type="text" name="Symptom2" placeholder="Symptom2" required="required">
            <input type="text" name="Symptom3" placeholder="Symptom3" required="required">
            <input type="text" name="Symptom4" placeholder="Symptom4" required="required">
            <input type="text" name="Symptom5" placeholder="Symptom5" required="required">
            <button type="submit">Predict</button>

        </form>
        

    </main>

    <footer class="mt-auto text-white-50 mb-0">
        <p>Project created by Cristina Rodilla Hernández. <a href="https://github.com/crodilla/Genomes_project"><i class="fa fa-github"></i> </a></p>
    </footer>
    <br><br>
    {{prediction_text}}
</div>

</body>
</html>